body{
  background-color: black;
}
 

 .homeTextbutton:hover{
  opacity: 0.8;
  border-style:2px black;
  border-style: dotted;
  border-width: 2px;
 }
 
.textButton{
  opacity: 1;
  padding-top: 50px;
}
.card{
 width: 12rem;
 margin: 0;
 padding-bottom: 10%;
}
.haha{
  font-size:30px;
  text-align: center;
}
.Smartlane{
  background-image: url('C:\Reactmark1\codezillah\codezillah\laneresized.png');;
 }
.displayArea{
  position: absolute;
  width: 1050px;
  height: 520px;
  background-color: blue;
  margin-left: 4%;
  border-radius: 15px;
  /* background-image: url('C:\Reactmark1\codezillah\codezillah\laneresized.png'); */
background-repeat: no-repeat;
background-size:1050px 520px ;
}
.homeTextbutton2{
  position: absolute;
background-color: orange;
width: 160px;
height: 160px;
margin-left: 85%;
border-radius: 10px;
color: black;
font-weight: bolder;
font-size:larger ;
font-style: italic ;
animation-name:orange;
opacity: 1;
text-align: center;
padding: 5px;
margin-top: 13%;
border-style: dotted;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: linear;
 }
 
 .homeTextbutton3{
  position: absolute;
background-color: green;
width: 160px;
height: 160px;
margin-left: 85%;
border-radius: 10px;
color: black;
font-weight: bolder;
font-size:larger ;
font-style: italic ;
/* background-image: url("C:\Reactmark1\codezillah\codezillah\maphome.webp"); */
text-align: center;
border-style: dotted;
padding: 5px;
margin-top: 26%;
animation-name:green;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: linear;
 }
 
 .homeTextbutton{
  position: absolute;
background-color: red;
width: 160px;
height: 160px;
margin-left: 85%;
border-radius: 10px;
color: black;
font-weight: bolder;
font-size:larger ;
font-style: italic ;
/* background-image: url("C:\Reactmark1\codezillah\codezillah\maphome.webp"); */
opacity: 1;
text-align: center;
border-style: dotted;
padding: 5px;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-name: red;
 }

 @keyframes red {
  0%,
  33% {
    background-color: red;
  }
  34%,
  100% {
    background-color: gray;
  }
}


@keyframes orange {
  0%,
  40% {
    background-color: gray;
  }
  41%,
  66% {
    background-color: yellow;
  }
  67%,
  100% {
    background-color: gray;
  }
}


@keyframes green {
  0%,
  66% {
    background-color: gray;
  }
  67%,
  100% {
    background-color: green;
  }
}


